@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;

.btn {
    display: inline-block;
    background: $primary-4;
    color: $white;
    padding: 0.25rem 0.75rem;
    border-radius: $radius;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    width: 8rem;
    letter-spacing: $spacing;
    margin: 2rem auto;
    transition: $transition;
    &:hover{
        background: $primary-6;
        color: $primary-3;
    }
}